body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.voffset4 {
    margin-bottom: 40px;
}
/*Bootstrap overrides*/
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color:rgba(205,40,39,0.55);
}

ul.calendar {
    padding-left:0;
    list-style: none;
}

.calendar > li {
    position: relative;
    margin-bottom: 20px;
}

.date {
    background-color:white;
    text-align:center;
    width: 60px;
    height:75px;
    border:1px solid red;
    border-radius:5px;
}

.day {
    margin-top:13px;
    color:black;
    font-size:16px;
}

.month {
    color:white;
    background-color:red;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    padding:4px 6px;
}


.detail {
    position: absolute;
    left:70px;
    top:0;
}

.detail p {
    margin-bottom: 0;
}

.genre {
    padding-bottom: 5px;
}

.going-btn {
    background-color: #7314dc;
}


