<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gig</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <environment names="Development">
        @* In development we load dont need to load min files since we might want to debug *@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Gig</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Gigs" asp-action="Create">Add a Gig</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Gig</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
        <script src="~/js/underscore-min.js"></script>
        <script src="~/js/site.min.js"></script>
        <script src="~/js/moment.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"
                asp-fallback-src="~/lib/bootbox.js/bootbox.js"
                asp-fallback-test="window.bootbox">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
    <script type="text/template" id="notifications-template">
        <ul class="notifications">
            <%_.each(notifications,function(notification){
            if(notification.type == 1){ %>
            <li><span class="notification-artist"><%= notification.gig.artist.firstName %></span> has cancelled the gig at <%= notification.gig.venue %> at <%= moment(notification.gig.dateAndTime).format("D MMM YYYY HH:mm") %>.</li>
            <% } else if(notification.type == 2){
            var changes = [];
            var originalValues = [];
            var newValues = [];

            if(notification.originalVenue != notification.gig.venue){
            changes.push("venue");
            originalValues.push(notification.originalVenue);
            newValues.push(notification.gig.venue);
            }

            if(notification.originalDateTime != notification.gig.dateAndTime){
            changes.push("date/time");
            originalValues.push(moment(notification.originalDateTime).format("D MMM YYYY HH:mm"));
            newValues.push(moment(notification.gig.dateAndTime).format("D MMM YYYY HH:mm"));
            } %>

            <li><span class="notification-artist"><%= notification.gig.artist.firstName %></span> has changed the <%= changes.join(" and ") %> of the gig from <%= originalValues.join("/") %> to <%= newValues.join("/") %></li>
            <% }
            });%>
        </ul>
    </script>
    <script>
        $(document).ready(function () {

            $.ajax({
                url: "/api/notification/getNewNotifications",
                dataType: "json",
                type: "GET",
                success: function (notifications) {
                    if (notifications.length == 0) { return; }
                    $(".js-notifications-count")
                        .text(notifications.length)
                        .removeClass("hide")
                        .addClass("animated bounceInDown");

                    onActivatePopover({ notifications: notifications });
                }
            });

            function onActivatePopover(notifications) {
                $(".notifications").popover({
                    title: "Notification",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        return compiled(notifications);
                    },
                    placement: "bottom",
                    html: true,
                    template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>',
                    trigger: "focus"
                }).on("shown.bs.popover", function () {
                    OnReadNotifications();
                });
            }

            function OnReadNotifications() {
                $.ajax({
                    url: "/api/notification/seen",
                    type: "POST",
                    success: function () {
                        $(".js-notifications-count").addClass("hide");
                        $(".notifications").popover("destroy");
                    }
                })
            }


        });
    </script>
</body>
</html>
