@using Gig.Models.GigsViewModels
@model GigsFormViewModel

@{
    ViewData["Title"] = "Edit Gig";
}

<h2>Edit a Gig.</h2>

<form asp-controller="Gigs" asp-action="Update" method="post">
    <br />
    <p class="alert alert-info">All fields are <strong>required.</strong></p>
    <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Venue"></label>
        <input class="form-control" asp-for="Venue" autofocus />
        <span asp-validation-for="Venue" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date"></label>
        <input class="form-control" asp-for="Date" placeholder="eg 20 Jan 2017" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time"></label>
        <input class="form-control" asp-for="Time" placeholder="eg 12:00" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Genre"></label>
        <select class="form-control"
                asp-for="Genre"
                asp-items="@(new SelectList(Model.Genres,"Id","Name"))">
            <option></option>
        </select>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
